<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <clear/>
    <add name="local" providerName="MySql.Data.MySqlClient" connectionString="server=127.0.0.1;uid=root;pwd=Azerty123;database=postorder"/>
    <add name="azure" providerName="MySql.Data.MySqlClient" connectionString="Database=acsm_f4ebbffefd9d617;Data Source=eu-cdbr-azure-west-d.cloudapp.net;User Id=be47445ebed6c5;Password=e3104c4f"/>
  </connectionStrings>
</configuration>